.product {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.product-info {
  padding-left: 15px;
}
.product-info h3 {
  color: blueviolet;
}

button {
  padding: 10px 50px;
  border: 1px solid lightgray;
  background-color: goldenrod;
  border-radius: 5px;
  cursor: pointer;
}
